extends _utilities/base

block content
    .category-layout
        .articles
            .category-brand #[iconify-icon(icon="dashicons:category")] 分类 - #{page.category}

            include _component/articles

        .sidebar
            include _component/sidebar
