- if (theme.widget.recent.enabled && site.posts.length) {
    .recent
        h3 最新文章

        ul
            - site.posts.sort('date', 'desc').limit(5).each(function(post) {
                li
                    a(href=url_for(post.path))
                        span(class="title") #{post.title}
                        span(class="date") #{date(post.date, 'MM-DD')}
            - })
- }
