doctype html

html(lang="zh" prefers-color-scheme="light")
    head
        include ../_partial/head

    body
        header
            include ../_partial/header

        main
            block content

        footer
            include ../_partial/footer

        include ../_partial/search
