mixin navigation
    ul
        li
            a(href=url_for("/") class=((is_current("") || is_current("/page")) ? "active" : "inactive")) 主页
        li
            a(href="/tags" class=((is_current("/tag") || is_current("/tags")) ? "active" : "inactive")) 标签

.background
    .layout
        -  const subtitle = theme.subtitle || config.title;
        h1 #{subtitle}

        .navigation
            +navigation

        .toolbar
            // 等我后面再慢慢写吧
            // 页需慢慢写，心急则重写（）
            ul
                - if (theme.theme.enabled) {
                    li
                        button(onclick="switch_theme()")
                            iconify-icon(icon="tabler:sun", id="theme_btn_icon")
                - }

                - if (theme.search.enabled) {
                    li
                        button(onclick="toggle_search()")
                            iconify-icon(icon="material-symbols:search-rounded")
                - }

                li(id="mobile_menu_btn")
                    button(onclick="open_mobile_nav()")
                        iconify-icon(icon="material-symbols:menu-rounded")

.mobile-background.inactive
    .mobile-layout
        +navigation

