@import "../_widget/author.styl"
@import "../_widget/recent.styl"
@import "../_widget/tags.styl"
@import "../_widget/categories.styl"

main .index-layout {
  max-width 1280px
  margin 0 auto
  padding 0 var(--spacing-lg)

  display flex
  flex-direction row
  gap var(--spacing-2xl)
  flex-wrap nowrap
}
