@import "../_page/index.styl"
@import "../_page/about.styl"
@import "../_page/post.styl"
@import "../_page/tag.styl"
@import "../_page/tags.styl"

main {
  padding calc(var(--spacing-2xl) + 65px) 0 var(--spacing-2xl) 0
  min-height calc(100vh - var(--spacing-2xl) - 65px - 70px)
}
