main {
  .about-layout {
    .title {
      font-size var(--text-3xl)
      color var(--text-primary-color)
    }
  }

  .post-layout {
    .content {
      width 100%

      .cover {
        object-fit cover
        width 100%
        border-radius var(--radius-md)
      }

      .title {
        font-size var(--text-3xl)
        color var(--text-primary-color)
      }

      .meta {
        border-bottom  1px solid var(--border-normal-color)

        ul {
          list-style none

          li {
            color var(--text-muted-color)
            font-size var(--text-sm)
          }
        }
      }
    }
  }

  .index-layout {
    .articles {
      .article {
        border-radius var(--radius-md)
        background-color var(--bg-primary-color)
        border 1px solid var(--border-normal-color)
        transition all 150ms ease

        a {
          text-decoration none
        }

        .cover {
          object-fit cover
        }

        .title {
          font-size var(--text-xl)
          line-height 1.25
          font-weight 600
          color var(--text-primary-color)
          transition all 150ms ease

          &:hover {
            color var(--primary-normal-color)
          }
        }

        .excerpt {
          color var(--text-secondary-color)
          line-height 1.75
        }

        .meta ul li {
          color var(--text-muted-color)
          font-size var(--text-sm)
        }

        &:hover {
          border-color var(--primary-normal-color)
          box-shadow var(--shadow-lg)
        }
      }
    }

    .sidebar {
      .author, .recent {
        background-color var(--bg-secondary-color)
        border 1px solid var(--border-normal-color)
        border-radius var(--radius-md)
      }

      .recent {
        h3 {
          font-size var(--text-sm)
          font-weight 500
          color var(--text-muted-color)
          text-transform uppercase
          letter-spacing 0.05em
        }

        ul {
          list-style none

          li {
            a {
              text-decoration none
              color var(--text-primary-color)
              transition all 150ms ease

              .title {
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
              }

              .date {
                border-left 1px solid var(--border-normal-color)
                color var(--text-muted-color)
              }

              &:hover {
                .title {
                  color var(--primary-normal-color)
                }
              }
            }
          }

          li:last-child {
            padding var(--spacing-sm) 0 0 0
            border-bottom none
          }
        }
      }

      .author {
        .avatar img {
          border-radius var(--redius-full)
        }

        h3 {
          font-weight 600
          font-size var(--text-lg)
          color var(--text-primary-color)
        }

        p {
          font-size var(--text-sm)
          color var(--text-muted-color)
        }

        .about a {
          background-color var(--primary-normal-color)
          color var(--text-inverse-color)
          border none
          text-decoration none
          border-radius var(--radius-md)

          &:hover {
            cursor pointer;
          }
        }
      }
    }
  }
}
