main .sidebar .categories {
  @extend base-widget
}

main .sidebar .categories h3 {
  @extend base-widget-title
}

main .sidebar .categories .content ul {
  list-style none

  display flex
  flex-direction column
  gap calc(var(--spacing-xs) + 5px)
}

main .sidebar .categories .content li {
  .category-list-link {
    @extend base-link
  }

  .category-list-child {
    padding-left calc(var(--spacing-sm) + 5px)
    border-left 1px solid var(--border-normal-color)
  }

  .category-list-count {
    display none
  }
}
