main .sidebar .recent {
  @extend base-widget
}

main .sidebar .recent h3 {
  @extend base-widget-title
}

main .sidebar .recent ul {
  list-style none
}

main .sidebar .recent ul li {
  padding var(--spacing-sm) 0
  border-bottom 1px solid var(--border-normal-color)

  a {
    text-decoration none
    color var(--text-primary-color)
    transition all 150ms ease

    display flex
    justify-content space-between
    gap var(--spacing-sm)

    &:hover {
      .title {
        color var(--primary-normal-color)
      }
    }
  }

  a .title {
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

    flex 1
    padding-right var(--spacing-sm)
  }

  a .date {
    border-left 1px solid var(--border-normal-color)
    color var(--text-muted-color)
    padding-left var(--spacing-sm)
  }

  &:last-child {
    padding var(--spacing-sm) 0 0 0
    border-bottom none
  }
}
