doctype html

html(lang="zh" data-theme="light")
    head
        include ../_partial/head

    body
        header
            include ../_partial/header

        main
            block content

        footer
            include ../_partial/footer
